body {
    font-size: 14px;
    margin: 0;
}

.stopwatch {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.stopwatch.digital .analog-cnt, .stopwatch.analog .digital-cnt {
    display: none;
}

.analog-cnt {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.analog-cnt::before {
    padding-top: 100%;
    display: block;
    content: "";
}

.analog-cnt > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.stopwatch .analog-hand.seconds {
    width: 1%;
    background: #000;
    height: 39.5%;
    position: absolute;
    left: 49.5%;
    top: 14.45%;
    transform-origin: center 90%;

    /*transition: transform 1s linear;*/
}

.digital-cnt {
    text-align: center;
    font-size: 45px;
    font-family: 'Orbitron', sans-serif;
    margin: 4% 0;
}

.digital-cnt span {
    font-size: 16vw;
    font-family: 'Orbitron', sans-serif;
    color: #334;

    display: block;
    width: 88%;
    text-align: left;
    margin: 0 auto;
}

.btn-cnt {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-cnt .btn {
    width: 30%;
    font-family: 'Oxygen', sans-serif;
    font-size: 6vw;
    border-radius: 30px;
    transition-duration: 0.2s;
    transition-property: background, color;
    background-color: white;
}

.btn-cnt button:hover {
    color: white;
    cursor: pointer;
}

.btn-cnt .start {
    border: 1px solid green;
    color: green;
}

.btn-cnt .start:hover {
    background: green;
}

.btn-cnt .stop {
    border: 1px solid red;
    color: red;
}

.btn-cnt .stop:hover {
    background: red;
}

.btn-cnt .reset {
    border: 1px solid orange;
    color: orange;
}

.btn-cnt .reset:hover {
    background: orange;
}

.btn-cnt button:hover {
    color: white;
    cursor: pointer;
}

@media(min-width: 400px) {
    .stopwatch {
        width: 400px;
    }

    .btn-cnt .btn {
        font-size: 20px;
    }

    .digital-cnt {
        margin: 15px 0;
    }

    .digital-cnt span {
        font-size: 65px;
    }
}

@media(min-width: 992px) {
    .stopwatch {
        width: 600px;
    }

    .btn-cnt .btn {
        font-size: 30px;
    }

    .digital-cnt span {
        font-size: 80px;
        width: 73%;
    }
}